/*
	CSS for eBay Listing
	Revision Date: 27/07/2023
	
	Font Main: Open Sans
	Font Headings: Montserrat (Extra Bold) 
	Body Background: Plain white
	Listing Content: Dark grey body text, red headings, dark grey subheadings.
	
	NOTE: When copying/pasting from google fonts code, change 'CSS2' to just 'CSS'. Also remove 'wght@'
	eBay's Official Font:  font-family: Market-Sans,
	
	@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&family=Montserrat:700,800&display=swap');



/* LISTING BODY STYLE */
#advertBody {
	background: white;
	max-width: 700px;
	margin: 0em auto 0em; /* EXTERNAL - top, left & right, bottom */
	padding: 0.1em 2.0em 1.5em;  /* INTERNAL - top, left & right, bottom */
	
	/* Default Text Definition */
	font-family: 'Open Sans', Helvetica, Verdana, sans-serif !important;
	font-size: 15.8px;  /* Desktop size. NOTE, conditional font styling for phone devices is set at bottom of this CSS */
}



/* TEXT STYLES */
#advertBody p, ul, ol, table {
	font-weight: 400;
	color: #505050;
	line-height: 1.5;
	text-align: justify;
	/* letter-spacing: -0.00em; */

}
	
#advertBody ul, ol {
    padding-top: 0em; padding-bottom: 0em; 
    padding-left: 2.4em;
    margin-left: 0em;
}

#advertBody strong {
	font-weight: 700;	
}

#advertBody li {
    margin-left: 0px;
    padding-left: 0px;
}

#advertBody li.extra-spacing {
	padding-bottom: 0.90em;
}

#advertBody .hh1,
#advertBody .hh2,
#advertBody .hh3 {
	font-family: 'Montserrat', Arial, Helvetica, Verdana, sans-serif !important;
	font-weight: 800;
	letter-spacing: -0.024em;
}

#advertBody .hh1 {
	font-size: 27px;
	text-align: center;
	margin-top: 0.4em;
	margin-bottom: -0.1em;
	line-height: 1.27;
	color: #505050;
}

#advertBody .hh2,
#advertBody .hh3 {
	text-align: left;
	padding-top: 0em;
	padding-bottom: 0em;
	line-height: 1.3;
	/* text-transform: uppercase; */
}

#advertBody .hh2 {
	font-size: 27px; 
	color: #ae1e1b;
	margin-top: 1.2em;
	margin-bottom: -0.18em; /* Reduce space underneath text, default is too much */
}

#advertBody .hh3 {
	font-size: 19px; 
	letter-spacing: -0.01em;
	color: #717070;
	margin-top: 1.6em;
	margin-bottom: -0.4em; /* Reduce space underneath text, default is too much */
}

/* Used mainly underneath the listing title asking the buyer to check all images */
#advertBody .footnote {
	font-size: 90%;
	font-weight: 400; 
	letter-spacing: 0.00em;
	line-height: 1.32;
	color: #818181;
	margin-bottom: -0.7em; /* Reduce space underneath text, default is too much */
}



/* TABLE STYLING - GLOBAL */
#advertBody table * {
	vertical-align: middle;
	line-height: 1.3;
	letter-spacing: inherit;
	font-size: inherit;
	/*
	font-weight: inherit; 
	font-style: inherit;
	font-variant: inherit;
	*/
}

#advertBody table {
	font-size: inherit;
	border-collapse: collapse;
	margin-top: 1.3em;
	width: 100%;
	border-top: solid 3px;
	border-color: #dedede;
	background-color: #f9f9f9;
}

#advertBody table tr {
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #dedede;
}

#advertBody table td {
	padding: 0.35em 0.6em;
}


/* TABLE STYLING - Common styling of first title column */
#advertBody table .row-heading-text {
	background: #f0f0f0;
	font-weight: 600;
}


/* TABLE STYLING - CLOTHING - Measurements column (extra large text) */
#advertBody table.clothing-info-table .measurement-text {
	font-weight: 700;
	font-size: 1.3em;
	letter-spacing: 0.03em; 
}


/* TABLE STYLING - BOOKS - Specify column width ratio */
/* Column 1 Style */
#advertBody table.book-info-table td:first-child {
	width: 25%;
}


/*
Following is an alternative way to style the text in a table, on a per-column basis....
NOTE: This will work most of the time, but not if you're trying to style a table that uses the colspan attribute on some TD's to make them span multiple columns.

#advertBody table.book-info-table td:first-child {
	font-weight: 600;
#advertBody table.book-info-table td:nth-child(2) {
	font-weight: 600;
}


Another way is to use the HTML <colgroup> but this can only apply background colour (can't style font).
	<colgroup>
		<col class="col-heading" />
		<col class="col-info" />
	</colgroup>
*/





/* ----------------------------------------------------------- */
/* CONDITIONAL STYLING - PHONE SCREEN */
/* ----------------------------------------------------------- */

@media screen and (max-width: 500px)
{
	/* Reduce global font size */
	#advertBody {
		font-size: 96%;
		padding-top: 0em;
		padding-left: 0.35em;  /* Decrease the left/right margins on phone devices to utilize more of the screen */
		padding-right: 0.35em;

	}
	
	/* Reduce ling height a tad */
	#advertBody p, ul, ol, table {
		line-height: 1.4;
		letter-spacing: 0.00em;
		text-align: left;
	}
	
	/* Reduce bullet indent on smaller screens */
	#advertBody ul, ol {
		padding-left: 1.3em;
	}
	
	/* Reduce font weight for headings */
	#advertBody .hh1,
	#advertBody .hh2,
	#advertBody .hh3 {
		font-weight: 800;
	}
	
	/* Reduce HH1 font height and margin on smaller screens */
	#advertBody .hh1 {
		font-size: 135%;
		margin-top: 0;
		line-height: 1.17;
	}
	
	#advertBody .hh2 {
		font-size: 142%;
	}

	#advertBody .hh3 {
		font-size: 112%;
	}
	
}

