/*
	CSS for eBay Listing
	Revision Date: 4/9/2020
	
	Font Main: Open Sans
	Font Headings: Inknut Antiqua (book style font)
	Body Background: Plain white
	Listing Content: Black text, red headings.
*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;600;700&display=swap');


/* LISTING BODY STYLE */
#advertBody {
	background: white;
	max-width: 630px;
	margin: 0em auto 0em; /* EXTERNAL - top, left & right, bottom */
	padding: 0.1em 0.6em 1.5em;  /* INTERNAL - top, left & right, bottom */
	
	/* Default Text Definition */
	font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif !important;
	font-size: 14px;  /* Desktop size. NOTE, conditional font styling for phone devices is set at bottom of this CSS */
}



/* TEXT STYLES */
#advertBody p, ul, ol, table {
	letter-spacing: 0.010em;
	font-weight: 400;
	color: #000000; 
	line-height: 1.5;
}
	
#advertBody ul, ol {
    padding-top: 0em; padding-bottom: 0em; 
    padding-left: 2.5em;
    margin-left: 0em;
}

#advertBody strong {
	font-weight: 600;	
}

#advertBody li {
    margin-left: 0px;
    padding-left: 0px;
}

#advertBody li.extra-spacing {
	padding-bottom: 0.7em;
}

#advertBody .hh1,
#advertBody .hh2,
#advertBody .hh3 {
	font-family: 'Inknut Antiqua', Arial; 
	line-height: 1.28;
	letter-spacing: -0.05em;
}

#advertBody .hh1 {
	font-size: 167%;
	font-weight: 600;
	text-align: center;
	margin-bottom: 0.6em;
	color: #000000;
}

#advertBody .hh2,
#advertBody .hh3 {
	font-weight: 600;
	text-align: left;
	margin-top: 1.2em;
	margin-bottom: -0.3em; /* Reduce space underneath text, default is too much */
	padding-top: 0em;
	padding-bottom: 0em;
}

#advertBody .hh2 {
	font-size: 148%; 
	color: #ae1e1b;
}

#advertBody .hh3 {
	font-size: 120%; 
	color: #9a9a9a;
}

/* Used mainly underneath the listing title asking the buyer to check all images */
#advertBody .footnote {
	font-size: 90%;
	font-weight: 400; 
	line-height: 1.32;
	color: #979797;
	margin-bottom: -0.2em; /* Reduce space underneath text, default is too much */
}



/* TABLE STYLING - GLOBAL */
#advertBody table * {
	vertical-align: middle;
	line-height: inherit;
	/*
	font-size: inherit;
	font-weight: inherit; 
	font-style: inherit;
	font-variant: inherit;
	*/
}

#advertBody table {
	border-collapse: collapse;
	margin-top: 1.3em;
	width: 100%;
	border-top: solid 3px;
	border-color: #dedede;
	background-color: #f9f9f9;
}

#advertBody table tr {
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #dedede;
}

#advertBody table td {
	padding: 0.24em 0.6em;
}


/* TABLE STYLING - Common styling of first title column */
#advertBody table .row-heading-text {
	background: #f0f0f0;
	font-weight: 600;
}


/* TABLE STYLING - CLOTHING - Measurements column (extra large text) */
#advertBody table.clothing-info-table .measurement-text {
	font-weight: 600;
	font-size: 1.3em;
	letter-spacing: 0.03em; 
}


/* TABLE STYLING - BOOKS - Specify column width ratio */
/* Column 1 Style */
#advertBody table.book-info-table td:first-child {
	width: 25%;
}


/*
Following is an alternative way to style the text in a table, on a per-column basis....
NOTE: This will work most of the time, but not if you're trying to style a table that uses the colspan attribute on some TD's to make them span multiple columns.

#advertBody table.book-info-table td:first-child {
	font-weight: 600;
#advertBody table.book-info-table td:nth-child(2) {
	font-weight: 600;
}


Another way is to use the HTML <colgroup> but this can only apply background colour (can't style font).
	<colgroup>
		<col class="col-heading" />
		<col class="col-info" />
	</colgroup>
*/





/* ----------------------------------------------------------- */
/* CONDITIONAL STYLING - PHONE SCREEN */
/* ----------------------------------------------------------- */

@media screen and (max-width: 500px)
{
	/* Reduce global font size */
	#advertBody {
		font-size: 0.85em;
		font-weight: 400; /* Increase the font weight for all normal text. The thin font looks good on desktop/tablet, but is too thin when rendered on phone screen */
		padding-top: 0em;
		padding-left: 0.35em;  /* Decrease the left/right margins on phone devices to utilize more of the screen */
		padding-right: 0.35em;
	}
	
	/
	#advertBody p, ul, ol, table {
	}
	
	/* Reduce bullet indent on smaller screens */
	#advertBody ul, ol {
		padding-left: 1.5em;
	}
	
	/* Reduce HH1 font height and weight on smaller screens */
	#advertBody .hh1 {
		font-size: 145%;
		line-height: 1.19;
		margin-top: 0;
	}
}

