/*
	CSS for eBay Listing
	Revision Date: 2/9/2020
	
	Font Main: Open Sans
	Font Headings: Inknut Antiqua (book style font)
	Body Background: Plain white
	Listing Content: Black text, red headings.
*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;600;700&display=swap');


/* LISTING BODY STYLE */
#advertBody {
	background: white;
	max-width: 41em;
	margin: 0em auto 0em; /* EXTERNAL - top, left & right, bottom */
	padding: 0.1em 0.6em 1.5em;  /* INTERNAL - top, left & right, bottom */
	
	/* Default Text Definition */
	font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif !important;
}



/* TEXT STYLES */
#advertBody p, ul, ol, table {
	font-size: 0.87em;  /* Desktop size. NOTE, conditional font styling for phone devices is set at bottom of this CSS */
	letter-spacing: 0.010em;
	font-weight: 400;
	color: #000000; 
	line-height: 1.37;
}
	
#advertBody ul, ol {
    padding-top: 0em; padding-bottom: 0em; 
    padding-left: 2.5em;
    margin-left: 0em;
}

#advertBody strong {
	font-weight: 600;	
}

#advertBody li {
    margin-left: 0px;
    padding-left: 0px;
}

#advertBody li.extra-spacing {
	padding-bottom: 0.7em;
}

#advertBody .hh1,
#advertBody .hh2,
#advertBody .hh3 {
	font-family: 'Inknut Antiqua', cursive; 
	line-height: 1.2;
	letter-spacing: -0.05em;
}

#advertBody .hh1 {
	font-size: 160%;
	font-weight: 600;
	text-align: center;
	margin-bottom: 0.6em;
	color: #000000;
}

#advertBody .hh2,
#advertBody .hh3 {
	font-weight: 600;
	text-align: left;
	margin-top: 1.2em;
	margin-bottom: -0.2em; /* Reduce space underneath text, default is too much */
	padding-top: 0em;
	padding-bottom: 0em;
}

#advertBody .hh2 {
	font-size: 148%; 
	color: #ae1e1b;
}

#advertBody .hh3 {
	font-size: 120%; 
	color: #9a9a9a;
}

/* Used mainly underneath the listing title asking the buyer to check all images */
#advertBody .footnote {
	font-size: 84%;
	font-weight: 400; 
	letter-spacing: 0.030em;
	line-height: 1.3;	
	color: #979797;
	margin-bottom: -0.2em; /* Reduce space underneath text, default is too much */
}



/* GLOBAL TABLE STYLING */
#advertBody table * {
	vertical-align: middle;
}

#advertBody table {
	border-collapse: collapse;
	margin-top: 1.3em;
	width: 100%;
	border-top: solid 3px;
	border-color: #dedede;
	background-color: #f9f9f9;
	/*
	font-size: inherit;
	font-weight: inherit; 
	font-style: inherit;
	font-variant: inherit;
	*/
	line-height: 1.3;
}

#advertBody table tr {
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #dedede;
}

#advertBody table td {
	padding: 0.30em 0.6em;
}

#advertBody table .row-heading-text {
	font-weight: 600;
}


/* TABLE STYLING - For selling clothes/shoes - measurements text (extra large) */
#advertBody table.sizing-info-table .clothing-size-text {
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 0.03em; 
}

/* Column 1 background colour */
#advertBody table.sizing-info-table td:first-child,
#advertBody table.book-info-table td:first-child {
		background: #f0f0f0;
}


/* TABLE STYLING - For selling books */
#advertBody table.book-info-table {
}

/* Column 1 Style */
#advertBody table.book-info-table .col-heading {
	width: 30%;
}

/* Column 2 Style */
#advertBody table.book-info-table .col-info {
	width: 70%;
} 


/*
Following is an alternative way to style the text in a table, on a per-column basis....

#advertBody table.book-info-table td:first-child {
	font-weight: 600;
#advertBody table.book-info-table td:nth-child(2) {
	font-weight: 600;
}
*/





/* ----------------------------------------------------------- */
/* CONDITIONAL STYLING - PHONE SCREEN */
/* ----------------------------------------------------------- */

@media screen and (max-width: 500px)
{
	/* Reduce global font size */
	#advertBody {
		font-size: 0.89em;
		font-weight: 400; /* Increase the font weight for all normal text. The thin font looks good on desktop/tablet, but is too thin when rendered on phone screen */
		padding-top: 0em;
		padding-left: 0.35em;  /* Decrease the left/right margins on phone devices to utilize more of the screen */
		padding-right: 0.35em;
	}
	
	/
	#advertBody p, ul, ol, table {
	}
	
	/* Reduce bullet indent on smaller screens */
	#advertBody ul, ol {
		padding-left: 1.5em;
	}
	
	/* Reduce HH1 font height and weight on smaller screens */
	#advertBody .hh1 {
		font-size: 145%;
		line-height: 1.19;
		margin-top: 0;
	}
}

